:root {
  /* Primary */
  --clr-blue-dark: hsl(243, 87%, 12%);
  --clr-blue-desat: hsl(238, 22%, 44%);

  /* Accent */
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-cyan: hsl(170, 45%, 43%);
  --clr-blue-hover: hsl(224, 93%, 65%);

  /* Neutral */
  --clr-netural-400: hsl(0, 0%, 75%);
  --clr-neutral-200: hsl(240, 75%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-Raleway: 'Raleway', Helvetica, Arial, sans-serif;
  --ff-OpenSans: 'Open Sans', Helvetica, Arial, sans-serif;
}



/*############################
General Styles
##############################*/

body {
  background-color: var(--clr-white);
  min-height: 100vh;

  font-family: var(--ff-OpenSans);
  font-weight: 400;
  color: var(--clr-blue-dark);
}

/* Default Input Styles */
input {
  padding: 0.75rem; 
  border-radius: 0.25rem;
  letter-spacing: 0.031rem; 
  font-size: 0.875rem;
}

input[type="email"] {
  border: 1px solid var(--clr-blue-dark);
}

input[type="email"]:focus {
  border-color: var(--clr-bright-blue);
  outline: none;
}


/* Default Button Styles */
button {
  font-family: var(--ff-OpenSans);
  font-weight: 400;
  cursor: pointer;
  transition-duration: 200ms;
}

button.secondary-cta {
  color: var(--clr-cyan);
  padding: 0.375rem 2rem 0.375rem 0.375rem;
  background-color: transparent;
  background-image: url('../images/icon-arrow.svg');
  background-position: 100% 50%;
  background-size: 1.375rem;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid var(--clr-cyan);
}

button.secondary-cta:hover,
button.secondary-cta:focus {
  filter: brightness(1.3);
}

button.primary-cta {
  color: var(--clr-white);
  font-weight: 700;
  background-color: var(--clr-bright-blue);
  border: 1px solid var(--clr-bright-blue);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
  padding: 0.75rem; 
  border-radius: 0.25rem;
  letter-spacing: 0.031rem; 
  font-size: 0.875rem;
}

button.primary-cta:hover,
button.primary-cta:focus {
  background-color: var(--clr-blue-hover);
  border-color: var(--clr-blue-hover);
}


/*############################
Font Styles
##############################*/

h2, h3, header, input {
  font-family: var(--ff-Raleway);
}

h2 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-size: 1.375rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

@media (min-width: 50em) {
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.125rem;
  }
}



/*############################
SHARED Section // Layout Styles
##############################*/

.container {
  padding: 0 1.5rem;
  align-items: center;
}

section .container {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
}

.hero .container,
.testimonial .container {
  gap: 2.75rem;
}

@media (min-width: 50em) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .hero .container,
  .testimonial .container {
    flex-direction: row-reverse;
    gap: 3.5rem;
  }
  .content__blurb {
    width: 90%;
  }
  .content__header,
  .content__blurb {
    margin-bottom: 1.125rem;
  }
  .content {
    text-align: left;
  }
}



/*############################
Header Styles
##############################*/

header {
  margin: 2rem 0 5rem 0;
}

header a {
  color: var(--clr-blue-dark);
  font-size: 0.875rem;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-logo {
  width: 80px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 50em) {
  header {
    margin: 3.5rem 0 5rem 0;
  }
  header a {
    font-size: 1rem;
  }
  .brand-logo {
    width: 150px;
  }
  .nav-links {
    gap: 3.5rem;
  }
}



/*############################
Hero Section Styles
##############################*/

.hero {
  padding-bottom: 6rem;
}

.hero .content__header {
  margin-bottom: 1.375rem;
}

.hero .content__blurb {
  margin-bottom: 1.5rem;
}

/* Signup Styles */
.hero .signup__email input,
.hero .signup__email button[type="submit"] {
  width: 100%;
}

.hero .signup__email input[type="email"] {
  margin-bottom: 1rem;
}

@media (min-width: 50em) {
  .hero .signup__email {
    width: 85%;
    display: flex;
    gap: 1rem;
  }
  .hero .signup__email input[type="email"] {
    margin-bottom: 0;
  }
  .hero .signup__email button[type="submit"] {
    max-width: 200px;
  }
  .hero .content__blurb {
    line-height: 1.4;
  }
  .hero .illustration {
    max-width: 620px;
  }
}



/*############################
Testimonial Section Styles
##############################*/

.testimonial {
  background-color: var(--clr-neutral-200);
  position: relative;
  padding: 4.5rem 0 5rem 0;
  margin-top: 2rem;
}

.testimonial .content__desc {
  margin-bottom: 2.75rem;
}

.testimonial .content__header {
  margin-bottom: 1.375rem;
}

.testimonial .content__blurb {
  font-size: 0.875rem;
  text-align: left;
}
.testimonial .content__blurb:not(:last-of-type) {
  margin-bottom: 1rem;
}
.testimonial .content__blurb:last-of-type {
  margin-bottom: 2rem;
}

.testimonial::before {
  content: "";
  background-image: url('../images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -3rem;
  height: 3rem;
}

@media (min-width: 50em) {
  .testimonial {
    margin-top: 5rem;
  }
  .testimonial .content__header {
    margin-bottom: 1.5rem;
  }
  .testimonial .content__blurb {
    font-size: 1rem;
    width: 80%;
  }
  .testimonial .content__blurb:last-of-type {
    margin-bottom: 0.5rem;
  }
  .testimonial::before {
    background-image: url('../images/bg-curve-desktop.svg');
  }
  button.secondary-cta {
    padding: 0.375rem 2rem 0.375rem 0;
  }
  .testimonial .illustration {
    max-width: 540px;
  }
}



/*############################
Testimonial Figure Styles
##############################*/

figure {
  background-color: var(--clr-white);
  border-radius: 0.313rem;
  padding: 3.125rem 1.75rem 1.75rem 1.75rem;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.testimonial__quote {
  margin-bottom: 1rem;
  position: relative;
}

.testimonial__quote::before {
  content: "";
  position: absolute;
  top: -1.75rem;
  left: 0;
  background-image: url('../images/icon-quotes.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}

.testimonial__quote p {
  font-size: 0.75rem;
  line-height: 1.7;
}

.testimonial__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.testimonial__author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
p.author__name {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.047rem;
}
p.author__tag {
  font-size: 0.625rem;
  letter-spacing: 0.016rem;
}

@media (min-width: 50em) {
  figure {
    max-width: 360px;
    margin: 0;
  }
  .testimonial__quote p {
    font-size: 0.813rem;
  }
}



/*############################
CTA Section Styles
##############################*/

.dark-bg {
  background-color: var(--clr-blue-desat);
  color: var(--clr-white);
  padding: 3.75rem 0;
}

.cta .content__header,
.cta .content__blurb {
  margin-bottom: 1.25rem;
}

.cta .content__blurb {
  font-size: 0.875rem;
  line-height: 1.7;
}

.signup {
  width: 85%; 
  margin: 0 auto; 
}

.cta .signup__email input,
.cta .signup__email button[type="submit"] {
  width: 100%;
}
.cta .signup__email input[type="email"] {
  margin-bottom: 0.5rem;
  border-color: var(--clr-white);
}

@media (min-width: 50em) {
  .dark-bg {
    padding: 5rem 0;
  }
  .cta .content {
    max-width: 520px;
  }
  .cta .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }
  .cta .signup {
    max-width: 500px;
    margin: 0;
    width: 100%;
  }
  .cta .content__header {
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }
  .cta .content__blurb {
    margin-bottom: 0;
    font-size: 1rem;
  }
  .cta .signup__email button[type="submit"] {
    width: 210px;
  }
}



/*############################
Footer Styles
##############################*/

footer {
  background-color: var(--clr-blue-dark);
  padding: 3.75rem 0;
  color: var(--clr-white);
}

footer a {
  color: var(--clr-white);
  transition-duration: 200ms;
}
.footer-nav a:hover,
.footer-nav a:focus {
  color: var(--clr-blue-hover);
}

.footer-logo {
  filter: brightness(0) invert(1); 
  width: 160px;
  margin-bottom: 2.125rem; 
}

/* Company Addresses Styles */
.company-addresses {
  margin-bottom: 2.75rem;
}

.company-addresses li {
  padding-left: 2.25rem;

  background-size: 1.125rem;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.company-addresses li:first-of-type {
  margin-bottom: 0.875rem;
  background-image: url('../images/icon-phone.svg');
}

.company-addresses li:last-of-type {
  background-image: url('../images/icon-email.svg');
}

/* Footer Navigation Styles */
.footer-nav {
  margin-bottom: 2.5rem;
}

.footer-nav ul {
  display: grid;
  gap: 1.125rem;  
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five'
  'six'
  'seven';
}

.footer-nav li:nth-of-type(1) {
  grid-area: one;
}
.footer-nav li:nth-of-type(2) {
  grid-area: two;
}
.footer-nav li:nth-of-type(3) {
  grid-area: three;
}
.footer-nav li:nth-of-type(4) {
  grid-area: four;
  margin-bottom: 1.5rem;
}
.footer-nav li:nth-of-type(5) {
  grid-area: five;
}
.footer-nav li:nth-of-type(6) {
  grid-area: six;
}
.footer-nav li:nth-of-type(7) {
  grid-area: seven;
}

/* Company Socials Styles */
.company-socials ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.company-socials a {
  padding: 8px;
  border: 1px solid var(--clr-white);
  display: inline-block;
  border-radius: 50%;
  transition-duration: 200ms;
}

.company-socials svg {
  width: 1.125rem;
  height: 1.125rem;
}
.company-socials svg path {
  fill: var(--clr-white);
  transition-duration: 200ms;
}

.company-socials a:hover,
.company-socials a:focus {
  border-color: var(--clr-blue-hover);
}
.company-socials a:hover path,
.company-socials a:focus path {
  fill: var(--clr-blue-hover);
}


@media (min-width: 50em) {
  footer {
    padding: 4.5rem 0;
  }
  footer .company-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer-logo {
    margin-bottom: 1.75rem;
  }
  .footer-nav,
  .company-addresses {
    margin-bottom: 0;
  }
  .company-socials ul {
    justify-content: flex-end;
  }
  .footer-nav li:nth-of-type(4) {
    margin-bottom: 0;
  }
  .footer-nav ul {
    gap: 1.125rem 12.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'one five'
    'two six'
    'three seven'
    'four .';
  }
}